<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Aggregating-and-Combining-pandas-DataFrames" data-toc-modified-id="Aggregating-and-Combining-pandas-DataFrames-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Aggregating and Combining <code>pandas</code> DataFrames</a></span><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#Set-Up" data-toc-modified-id="Set-Up-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Set Up</a></span></li><li><span><a href="#Aggregating-over-DataFrames:-.groupby()" data-toc-modified-id="Aggregating-over-DataFrames:-.groupby()-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Aggregating over DataFrames: <code>.groupby()</code></a></span></li><li><span><a href="#Aggregating" data-toc-modified-id="Aggregating-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Aggregating</a></span></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Exercise</a></span></li></ul></li><li><span><a href="#Pivoting-a-DataFrame" data-toc-modified-id="Pivoting-a-DataFrame-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Pivoting a DataFrame</a></span><ul class="toc-item"><li><span><a href="#.pivot_table()" data-toc-modified-id=".pivot_table()-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span><code>.pivot_table()</code></a></span></li></ul></li><li><span><a href="#Methods-for-Combining-DataFrames" data-toc-modified-id="Methods-for-Combining-DataFrames-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Methods for Combining DataFrames</a></span><ul class="toc-item"><li><span><a href="#.join()" data-toc-modified-id=".join()-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>.join()</code></a></span></li><li><span><a href="#.merge()" data-toc-modified-id=".merge()-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span><code>.merge()</code></a></span></li><li><span><a href="#The-how-Parameter" data-toc-modified-id="The-how-Parameter-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>The <code>how</code> Parameter</a></span></li><li><span><a href="#pd.concat()" data-toc-modified-id="pd.concat()-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span><code>pd.concat()</code></a></span></li><li><span><a href="#Back-to-the-Center" data-toc-modified-id="Back-to-the-Center-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Back to the Center</a></span></li></ul></li><li><span><a href="#Level-Up:-Quick-Column-Name-Clean-Up-Code" data-toc-modified-id="Level-Up:-Quick-Column-Name-Clean-Up-Code-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Level Up: Quick Column Name Clean Up Code</a></span></li><li><span><a href="#Level-Up:-pandas.set_option()" data-toc-modified-id="Level-Up:-pandas.set_option()-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Level Up: <code>pandas.set_option()</code></a></span><ul class="toc-item"><li><span><a href="#Block-Scientific-Notation" data-toc-modified-id="Block-Scientific-Notation-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Block Scientific Notation</a></span></li><li><span><a href="#See-More-Rows" data-toc-modified-id="See-More-Rows-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>See More Rows</a></span></li></ul></li></ul></div>

# Aggregating and Combining `pandas` DataFrames

## Objectives

- Use GroupBy objects to organize and aggregate data
- Create pivot tables from DataFrames
- Combine DataFrames by merging and appending

## Set Up

Surprise, surprise... we're still working with the Austin Animal Center Data! Let's start with Outcomes

In [ ]:
# Imports

In [ ]:
# Read in the Outcomes data
# Let's be sure to parse dates for the DateTime and Date of Birth columns

In [ ]:
# Check it

In [ ]:
# Let's create our Age in Days column

In [ ]:
# Grab just the integer here...

In [ ]:
# Sanity check

## Aggregating over DataFrames: `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. (And if you haven't, you'll see it very soon!) Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [ ]:
# Just using groupby outputs some weird GroupBy object... not helpful

Once we know we are working with a type of object, it opens up a suite of attributes and methods. One attribute we can look at is groups.

In [ ]:
# This returns each group indexed by the group name, e.g. 'Bird',
# along with the row indices of each value

outcomes.groupby('Animal Type').groups

In [ ]:
# Same goes for multi-index groupbys
animal_outcome = outcomes.groupby(['Animal Type', 'Outcome Type'])

In [ ]:
# .groups outputs a dictionary, so we can access the group names using keys()
animal_outcome.groups.keys()

In [ ]:
# We can then get a specific group, such as cats that were adopted
animal_outcome.get_group(('Cat', 'Adoption'))

## Aggregating

Once again, as we will see in SQL, groupby objects are intended to be used with aggregation. In SQL, we will see that our queries that include GROUP BY require aggregation performed on columns.

We can use `.sum()`, `.mean()`, `.count()`, `.max()`, `.min()`, etc. Find a list of common aggregations [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html).

In [ ]:
# Let's try it out
outcomes.groupby('Animal Type').count()

## Exercise

Use `.groupby()` to find the most recently born of each (main) animal type.

In [ ]:
# Your code here

# Pivoting a DataFrame

## `.pivot_table()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

Grouping by two different columns can be very helpful.

In [ ]:
# Groupby two columns
outcomes.groupby(by=['Outcome Type', 'Sex upon Outcome']).agg('mean')

But it has the unsavory side effect of creating a two-level index. This can be a good time to use `.pivot_table()`.

(There is also a `.pivot()`. For the somewhat subtle differences, see [here](https://stackoverflow.com/questions/30960338/pandas-difference-between-pivot-and-pivot-table-why-is-only-pivot-table-workin).)

In [ ]:
# Now try with a pivot table
outcomes.pivot_table(index='Outcome Type', columns='Sex upon Outcome', aggfunc='mean')

# Methods for Combining DataFrames

Many ways to combine dataframes! Luckily, pandas has great docs: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

## `.join()`

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns=['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns=['age', 'MP'])

toy1

In [ ]:
toy2

In [ ]:
# We can't just join these as they are, since we haven't specified our suffixes

In [ ]:
toy1.join(toy2, lsuffix='1', rsuffix='2')

If we don't want to keep both, we could set the overlapping column as the index in each DataFrame:

In [ ]:
toy1.set_index('age').join(toy2.set_index('age'))

In [ ]:
toy1.drop('age', axis=1).join(toy2)

## `.merge()`

Or we could use `.merge()`:

In [ ]:
# Let's try with a SLIGHTLY bigger toy dataset
ds_chars = pd.read_csv('data/ds_chars.csv', index_col=0)
ds_chars

In [ ]:
# And another to merge it with
states = pd.read_csv('data/states.csv', index_col=0)
states

## The `how` Parameter

This parameter in both `.join()` and `.merge()` tells the compiler what sort of join to effect. We'll cover this in detail when we discuss SQL.

![image showcasing how the how parameter in a join/merge would combine the two datasets, using venn-style diagrams](https://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png)
[[Image Source]](https://www.datasciencemadesimple.com/join-merge-data-frames-pandas-python/)

In [ ]:
# Merge ds_chars and states - first an inner join

In [ ]:
# Now an outer join

## `pd.concat()`

This method takes a *list* of pandas objects as arguments.

In [ ]:
# Another mini dataset to play with
prefs = pd.read_csv('data/preferences.csv', index_col=0)
prefs

In [ ]:
# Concat prefs and ds_chars

`pd.concat()`–– and many other pandas operations –– make use of an `axis` parameter. For this particular method I need to specify whether I want to concatenate the DataFrames *row-wise* (`axis=0`) or *column-wise* (`axis=1`). The default is `axis=0`, so let's override that!

In [ ]:
# Adjust and try again

## Back to the Center

We have Intakes data and we have Outcomes data... time to merge!

In [ ]:
# Peek at the outcomes data we already had in here

In [ ]:
# Read in the intakes data

# Check it out

In [ ]:
# Let's try merging on Animal ID

In [ ]:
# What was the result?

In [ ]:
combined.shape

In [ ]:
intakes.shape

In [ ]:
outcomes.shape

Let's discuss/explore: did that work the way we expected?

-

In [ ]:
# We might want to try something different
# Can we clean something to make a better merge?

In [ ]:
# Clean what needs cleaning...

In [ ]:
# Try again

# Level Up: Quick Column Name Clean Up Code

Throwing a quick use of a lambda function your way:

In [ ]:
outcomes_renamed = outcomes.rename(columns = lambda x: x.replace(" ", "_").lower())
outcomes_renamed.head()

# Level Up: `pandas.set_option()`

We can adjust how `pandas` works by setting options in advance.

For complete documentation, see [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html).

## Block Scientific Notation

For example, suppose we want to prevent numbers from being displayed in scientific notation.

In [ ]:
df = pd.DataFrame([[1e9, 2e9], [3e9, 4e9]])
df

Then we can use:

In [ ]:
pd.set_option('display.float_format', '{:.2f}'.format)

df

## See More Rows

Or suppose we want `pandas` to show more rows.

In [ ]:
df2 = pd.DataFrame(np.array(range(100)))
df2

In that case we can use:

In [ ]:
pd.set_option('display.max_rows', 100)

df2